<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<aside id="gameDescription" th:fragment="copy">
    <hr>
    <h3>Czym jest PiXiT?</h3>
    PiXiT to gra online zainspirowana grą planszową o nazwie
    <a href="https://www.libellud.com/dixit/?lang=en">Dixit</a>.
    W PiXiT zamiast malowanych kart z obrazami jak ze snu, użytkownicy grają za pomocą artystycznych zdjęć
    (dzięki uprzejmości <a href="https://unsplash.com/">Unsplash</a>).
    Autorzy PiXiTa nie są powiązani z twórcami oryginalnego Dixita: Jean-Louis Roubira, Marie Cardouat, ani z jego wydawcą, firmą Libellud.

    <span style="color: darkgreen; text-decoration: underline dotted">
        <!--<h3>Wkrótce:</h3>
        PiXiT jest wciaż rozwijany. Niektóre z rzeczy nad którymi aktualnie pracuję to:
        <ul>
            <li>Moderator może otworzyć/zamnkąć pokój gry.</li>
            <li>Przy tworzeniu gry, możliwość wyboru zbioru obrazków spośród wielu z różnych źródeł (nie tylko fotografie z Unsplash)</li>
            <li>Czat w grze</li>
        </ul>-->

        <h3>Informacje zwrotne</h3>
        Chętnie przyjmę wszelkie sugestie, uwagi, narzekania i pochwały – namawiam do korzystania z przycisku "Zostaw opinię" znajdującego się na górze po prawej!

    </span>

    <h3>Zasady</h3>
    <ul>
        <li><b>🏁 Rozpoczęcie gry.</b>
            Można tworzyć zarówno prywatne jak i publiczne gry. Różnica między nimi polega na tym, że gry publiczne
            pojawiają się na głównej stronie PiXiTa i każdy może do nich dołączyć. By dołączyć do gry prywatnej trzeba
            uzyskać do niej link od jednego z graczy.
            <br>
            <br>
            Po stworzeniu gry, zostanie wygenerowany unikalny link. <b>Wyślij go wszystkim osobom,
            które chciałbyś zaprosić do gry.</b> Potrzebujesz co najmniej 3 osób,
            chociaż im więcej tym lepiej. Gdy wszyscy gracze się zbiorą i wcisną "Start"
            rozpocznie się pierwsza runda.
        </li>
        <li><b>👮 Moderator</b>
            Twórca pokoju zostaje automatycznie jego Moderatorem. Może on wyrzucać niewłaściwie zachowujące się osoby<!--,
            a także zamykać i otwierać pokój (tzn. dopuszczać wchodzenie nowych graczy do gry lub nie)--> w dowolnym
            momencie. Gdy moderator opuszcza grę, jego rola przechodzi na następną osobę.
        </li>
        <li class="desktopOnly"><b>📺 Ekran gry.</b>
            <figure>
                <a href="/img/pixit-screen.png" target="_blank">
                    <img alt="Zrzut głównego ekranu PiXiTa" src="/img/pixit-screen.png">
                </a>
                <figcaption>Ekran PiXiTa</figcaption>
            </figure>

            W lewym górnym rogu wyświetlany jest status wszystkich graczy.
            W obszare po prawej u góry wyświetlane są instrukcje, które poprowadzą Cię przez całą grę,
            a także służy jako stół do gry. Karty i wyrażenia, które się tam pojawią, są widoczne dla wszystkich graczy.
            Na dole widzisz swoje karty. Tylko ty możesz je zobaczyć.

            <figure>
                <a href="/img/pixit-screen-card.png" target="_blank">
                    <img alt="Zrzut ekranu PiXiTa z powiększoną kartą" src="/img/pixit-screen-card.png">
                </a>
                <figcaption>Ekran PiXiTa (powiększona karta)</figcaption>
            </figure>
            Kliknij na kartę by ją powiększyć i zobaczyć dostępne akcje. Kliknij gdziekolwiek by zamknąć okno z powiększoną kartą.
        </li>
        <li class="mobileOnly"><b>📺 Ekran gry.</b>
            <figure>
                <a href="/img/pixit-mobile.png" target="_blank">
                    <img alt="Zrzut głównego ekranu PiXiTa w wersji mobilnej (część górna)" src="/img/pixit-mobile.png">
                </a>
                <figcaption>Ekran mobilnej wersji PiXiTa (część górna)</figcaption>
            </figure>

            Na samej górze wyświetlany jest status wszystkich graczy.
            W obszare po środku wyświetlane są instrukcje, które poprowadzą Cię przez całą grę,
            a także służy jako stół do gry. Karty i wyrażenia, które się tam pojawią, są widoczne dla wszystkich graczy.
            Na dole widzisz swoje karty. Tylko ty możesz je zobaczyć.


            <figure>
                <a href="/img/pixit-mobile-card.png" target="_blank">
                    <img alt="Zrzut ekranu PiXiTa w wersji mobilnej z powiększoną kartą" src="/img/pixit-mobile-card.png">
                </a>
                <figcaption>Ekran PiXiTa w wersji mobilnej (powiększona karta)</figcaption>
            </figure>
            Dotknij na kartę by ją powiększyć i zobaczyć dostępne akcje. Dotknij gdziekolwiek by zamknąć okno z powiększoną kartą.
        </li>
        <li><b> 📜  Narrator.</b>
            Na początku rundy jeden z graczy automatycznie staje się narratorem.
            Jest to oznaczone pomarańczowym tłem pod jego imieniem na liście graczy.
            Zadaniem narratora jest wybranie jednej ze swoich kart i zapisanie na niej hasła
            - podpowiedź co do treści karty. Może to zrobić klikając na jedną z kart, aby ją powiększyć,
            następnie wpisując frazę w pole poniżej obrazka i naciskając "Wybierz".
        </li>
        <li><b>🎴 Wybór karty.</b>
            Gdy narrator wybierze swoją kartę, pojawi się ona w prawym górnym rogu, zakryta.
            Każdy z graczy musi teraz wybrać jedną z kart, aby spróbować oszukać innych, że
            ich karta jest tą, którą narrator skojarzył z danym wyrażeniem.
            <i>Na przykład:</i> <i>Tutaj są przykłady z obrazkami</i>.
        </li>
        <li><b>🗳️ Głosowanie.</b>
            Gdy wszyscy gracze wyślą już swoje karty na stół, rozpoczyna się głosowanie. Każdy z graczy,
            oprócz narratora, próbuje odgadnąć, która z kart na stole została wybrana przez narratora.
            Nie można głosować na swoją własną kartę. Głosowanie kończy się, gdy wszyscy gracze oddadzą swój głos.
        </li>
        <li><b>💯 Punkty.</b>
            Po głosowaniu, punkty są rozdzielane w następujący sposób:
            <ul>
                <li>Jeżeli wszyscy odgadli kartę narratora: 2 punkty dla wszystkich oprócz narratora.
                    (Dlatego narrator nie powinien podać zbyt łatwego hasła).</li>
                <li>Jeżeli nikt nie odgadł karty narratora: 2 punkty dla wszystkich oprócz narratora.
                    (Dlatego narrator nie powinien podać zbyt trudnego hasła).</li>
                <li>W przeciwnym razie, każdy, na kogo kartę oddano głos, otrzymuje 1 punkt za każdy głos;</li>
                <li>każdy kto odgadł kartę narratora dostaje dodatkowe 3 punkty;</li>
                <li>natomiast narrator dostaje 3 punkty.</li>
            </ul>

            Gra kończy się, gdy którykolwiek gracz zbierze co najmniej <b>30</b> punktów. Po zakończeniu gry, gracze
            mogą ją od razu rozpocząć od nowa.

            <figure>b
                <a href="/img/pixit-points.png" target="_blank">
                    <img alt="Zrzut głównego ekranu PiXiTa z widocznym podsumowaniem zdobytych punktów" src="/img/pixit-points.png">
                </a>
                <figcaption>Ekran PiXiTa z widocznym podsumowaniem zdobytych punktów</figcaption>
            </figure>
        </li>
    </ul>
</aside>

</body>

</html>