<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="copy">
    const t = {
        "copy_to_clipboard": "Skopiuj link",
        "waiting_for_players": "Udostępnij link do tej strony znajomym by zaprosić ich do gry. Do rozpoczęcia potrzeba co najmniej trzech, a najlepiej czterech-pięciu graczy.",
        "press_start_to_begin": "Jeżeli jesteś gotowy i zebrali się wszyscy gracze, wciśnij start. Gra rozpocznie się gdy wszyscy gracze wcisną start.",
        "waiting_for_narrator": "Oczekiwanie aż narrator ustawi hasło",
        "choose_card_and_set_phrase": "Wybierz kartę i hasło, które niektórzy gracze skojarzą z tą kartą",
        "do_send_card_fmt": function (phrase) {
            return `Wybierz zdjęcie które pasuje do hasła: <br>${phrase}`
        },
        "waiting_for_cards_fmt": function(phrase) {
            return `Oczekiwanie aż wszyscy pozostali gracze wybiorą karty które kojarzą im się z: <br>${phrase}`;
        },
        "do_vote_fmt": function(phrase) {
            return `Zagłosuj na kartę która kojarzy się z: <br>${phrase}`;
        },
        "waiting_for_votes_fmt": function (phrase) {
            return `Oczekiwanie, aż zagłosują wszyscy gracze. <br>Hasło: ${phrase}`;
        },
        "waiting_to_proceed_fmt": function (phrase) {
            return `Oczekiwanie aż wszyscy gracze nacisną przycisk "Dalej". <br>Hasło: ${phrase}`;
        },
        "finished_fmt": function (phrase) {
            return `Ostatnie hasło: ${phrase}<br>
                    Gra zostanie rozpoczęta od nowa w momencie gdy wszyscy gracze nacisną przycisk "Gra od początku".`;
        },
        "corrupted": "Niestety, dane tej gry są nieprawidłowe. Dalsza rozgrywka jest niemożliwa.",
        "congratulations": function (winnerNames) {
            if (winnerNames.length === 0) {
                return "Koniec gry! 🎉 ";
            }
            if (winnerNames.length === 1) {
                return "Koniec gry! Zwycięzcą jest " + winnerNames[0] + "! 🎉 Gratulacje!";
            }
            return "Koniec gry! Zwyciężyli: " + winnerNames.join(", ") + "! 🎉 Gratulacje!";
        },

        "all_voted_for_narrator": "Wszyscy odgadli obrazek narratora. +2 punkty dla wszystkich poza narratorem",
        "no_one_voted_for_narrator": "Nikt nie odgadł obrazka narratora. +2 punkty dla wszystkich poza narratorem",
        "someone_voted_for_narrator": "+3 punkty dla narratora, +3 dla każdego kto odgadł kartę narratora, +po jednym punkcie na głos dla każdego na czyj obrazek zagłosowano",
        "in_progress": "Runda w trakcie...",

        "waiting_for_others": "Oczekiwanie na pozostałych graczy...",
        "start": "Start",
        "proceed": "Dalej",
        "start_over": "Gra od początku",
        "select_card": "Wybierz obraz i ustaw hasło",
        "set_phrase": "Ustaw hasło",
        "phrase": "Hasło:",
        "set": "Ustaw",
        "your_deck": "Twoja talia",
        "players": "Gracze",
        "connection_lost": "Utracono połączenie z serwerem, próba ponownego łączenia...",
        "shuffling": "Tasowanie...",
        "this_is_your_card": "To twoja karta",
        "you_voted_for_this_card": "Zagłosowałeś na tą kartę",

        "click_to_zoom_in": "Kliknij by przybliżyć",
        "card_is_hidden": "Obraz zasłonięty",
        "narrators_card": "Obraz narratora",
        "xyzs_card_fmt": function(xyz) { return `Właściciel: <b>${xyz}</b>`; },
        "voted_on_by": "Zagłosowali:",
        "send": "Wyślij",
        "vote": "Głosuj",
        "select": "Wybierz",
        "you": "Ty",
        "admin": "Moderator",
        "adminTitle": "Moderator może wyrzucać graczy, otwierać i zamykać pokój.",
        "kick_out": "Wyrzuć",
        "adminActions": "Moderacja:",

        "points_fmt": function(x) {
            if (x == 1) { return "punkt"; } else {
                let dziesiatek = x % 100;
                let jednosci = x % 10;
                if ((jednosci == 2 || jednosci == 3 || jednosci == 4) &&
                    (dziesiatek < 10 || dziesiatek > 20)) {
                    return "punkty";
                }
                return "punktów";
            }
        },
        "narrator": "Narrator",
        "still_thinking": "wciąż myśli...",

        "NARRATOR_LOST_ROUND_REPLAY": "Narrator opuścił grę. Runda zostaje powtórzona z nowym narratorem"
    };
</script>
</body>
</html>