/* * * COMMON AREA SECTION * * */

#common-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    box-sizing: border-box;
}

/* * GAME INFO SECTION * */

#game-info {
    flex-basis: 20%;
    flex-grow: 1;
}

#game-info > * {
    padding: 0.25em;
}

#game-info h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

#game-info h2 {
    font-weight: normal;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

#game-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

.playerEntry {
    display: block;
    font-size: 0.9em;
    background-color: white;
    border: 1px solid darkgray;
    margin: 0.5em;
    padding: 0.5em;
    min-width: 7.5em;
    width: max-content;
    height: min-content;
}

.narratorPlayerEntry {
    background-color: orange;
}

#congratulations {
    margin: 0.5em auto;
    font-size: 1.6em;
    font-family: "McLaren", sans-serif;
}

/* * TABLE SECTION * */

#table {
    min-width: min(90vw, 500px);
    flex-basis: 70%;
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    background-color: white;
    border: 1px solid darkgray;
    padding: 0.5em;
}

#game-guide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
}

.actionArea {
    width: 100%;
    text-align: center;
}

.actionButton, .copyLinkButton {
    margin: 0.5em 0.5em;
    font-size: 2em;
}

.phrase {
    font-weight: bold;
    font-size: 1.5em;
    font-family: "McLaren", "Chilanka", sans-serif;
}

#table .deck {
    width: 100%;
}

#shufflingArea {
    font-size: 1.3em;
    width: 100%;
    padding: 3em 0;
}

/* * * PLAYER'S PRIVATE AREA SECTION * * */

#players-private-area {
    flex-basis: 45%;
    flex-grow: 1;
    background-color: antiquewhite;
    border: 1px solid darkgray;
}

#players-private-area > h2 {
    width: 100%;
    text-align: center;
}

/* * * CARDS SECTION * * */

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
}

.deck figure {
    padding: 0.5em;
    background-color: black;
    height: min-content;
}

.cardFigureNormal {
    width: 150px;
    max-height: 500px;
    margin: 1.5em auto;
    display: table;
}

.cardFigureNormal > img.revealed {
    cursor: pointer; /* zoom-in does not seem to work (?) */
    display: table-row;
    height: 225px;
    object-fit: contain;
}

.cardFigureNormal > figcaption {
    display: block;
    height: 3.2em;
    overflow: auto;
    color: lightgray;
}

.whoVotedNames, .cardOwner {
    display: block;
    color: antiquewhite;
    font-size: 0.75em;
    width: 100%;
}

.whoVotedNames {
    margin-top: 0.5em;
}

.cardOwner {
    text-align: center
}

.whoVotedNames ul {
    margin: 0 auto;
    font-weight: bold;
    padding: 0;
    list-style-type: none;
}

.hiddenModal {
    display: none;
}

.shownModal {
    display: block;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal > figure {
    margin: auto;
    border: 1px solid darkgray;
    width: min-content;
    height: min-content;
}

.modal > figure > img {
    margin: auto;
    border: 1px solid darkgray;
    max-width: 75vw;
    max-height: 85vh;
    width: auto;
    height: auto;
}

.modal button {
    text-decoration: underline;
}

.chosenCard {
    border: 0.5em orange solid;
}

.cardFigureNormal figcaption > button {
    border: none;
    background-color: transparent;
    color: white;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

.modal figcaption > button {
    font-size: 1.25em;
}

/* * * ANIMATION * * */

.cardmove-enter-active {
    transition-timing-function: ease-out;
    transition: opacity 1.5s, transform 1.5s;
}

.cardmove-leave-active {
    transition-timing-function: ease-in;
    transition: opacity 0.5s, transform 0.5s;
}

.cardmove-enter {
    opacity: 0;
    transform: translateY(2em);
}

.cardmove-leave-to {
    opacity: 0;
    transform: translateY(-2em);
}

.cardmove-move {
    transition: transform 1s;
}

.shufflingmove-enter-active, .shufflingmove-leave-active {
    transition: opacity 1s;
}

.shufflingmove-enter, .shufflingmove-leaveto {
    opacity: 0;
}