body {
    max-width: max(75%, 1024px);
}

body > header {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 4em;
    margin: 0.25em auto;
}

/* * * CREATE / JOIN GAME FORMS * * */

.mainForm {
    background-color: antiquewhite;
    border: 1px solid darkgray;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mainForm > * {
    font-size: 1.3em;
    margin: 0.3em 0.1em;
}

#playerName {
    width: min(20em, 90%);
    font-size: 1.5em;
}

.invitation .playerName {
    font-weight: bold;
}

/* * * LOBBY SECTION * * */

#lobby ol {
    list-style-type: none;
    margin: 0;
}

#lobby h4 {
    margin: 0;
    font-family: "McLaren", "Chilanka", sans-serif;
}

.publicGameBox, .createGameBox {
    display: block;
    font-size: 1rem;
    background-color: white;
    border: 1px solid darkgray;
    padding: 1rem 0;
}

/* * * ERROR HANDLING PAGES * * */

.errorPage {
    text-align: center;
    font-size: 2em;
    font-family: McLaren, Chilanka, sans-serif;
}

.errorPage h2 {
    font-size: 2em;
    margin: 0 0.2em;
}