body {
    max-width: max(75%, 1024px);
}

body > header {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 4em;
    margin: 0.25em auto;
}

/* * * CREATE / JOIN GAME FORMS * * */

.mainForm {
    background-color: antiquewhite;
    border: 1px solid darkgray;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3em;
    padding: 1rem 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mainForm > * {
    font-size: 1.3em;
    margin: 0.3em 0.1em;
    padding: 1rem;
}

#playerName {
    flex-grow: 4;
    font-size: 1.5em;
    margin: 0.25rem 1rem;
    max-width: 80%;
}

#langSelect {
    font-size: 1em;
    flex-grow: 1;
    min-width: 5em;
    max-width: 60%;
}

.invitation .playerName {
    font-weight: bold;
}

/* * * MAIN FORM LAYOUT * * */

#player-settings {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#play-with-friends, #play-with-strangers {
    min-width: 45%;
    box-sizing: border-box;
    margin: 0;
}

/* * * LOBBY SECTION * * */

#play-with-friends h2, #play-with-strangers h2 {
    font-size: 1.5rem;
    margin: 0.25rem auto;
    font-family: McLaren, sans-serif;
}

#play-with-friends button {
    font-size: 1.5rem;
    margin: 1.5rem auto;
}

#play-with-strangers h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: normal;
}

#play-with-strangers ol {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    max-height: 20rem;
    overflow: auto;
}

#play-with-strangers ol li:nth-child(even) {
    background-color: #f2f2f2;
}

.publicGameBox p, .createGameBox p {
    margin: 0;
    color: #333;
    font-size: 0.9em;
}

.publicGameBox h4, .createGameBox h4 {
    margin: 0;
    font-family: "McLaren", "Chilanka", sans-serif;
    font-size: 1.2em;
}

.publicGameBox, .createGameBox {
    display: block;
    font-size: 0.9rem;
    background-color: white;
    border-bottom: 1px solid darkgray;
    padding: 0.25rem;
    margin: 0 auto;
}

.createGameBox {
    border-bottom: none;
}

#createGameForm > * {
    font-size: 1.2em;
}

/* * * ERROR HANDLING PAGES * * */

.errorPage {
    text-align: center;
    font-size: 2em;
    font-family: McLaren, Chilanka, sans-serif;
}

.errorPage h2 {
    font-size: 2em;
    margin: 0 0.2em;
}