body {
    margin: auto;
    background: #f2f2f2;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: max(75%, 1024px);
}

/* * * HEADER * * */

a {
    color: #181144;
    text-decoration: none;
}

@media (max-width: 800px) {
    body > header > nav > a {
        font-size: 0.75em;
        display: block;
        line-height: 2em;
    }

    body > header > nav {
        margin: auto 0;
    }

    body > header .separator {
        display: none;
    }
}

body > header {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
}

h1 a {
    border-bottom: 0;
    color: inherit;
    text-decoration: none;
    margin-bottom: 0;
}

h3 {
    margin: 0 auto;
}

.separator {
    color: gray;
}

/* * * MAIN * * */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* * * GAME INFO SECTION * * */

#game-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

#game-info > * {
    padding: 0.25em;
}

#game-players {
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.playerEntry {
    display: block;
    font-size: 0.9em;
    background-color: white;
    border: 1px solid darkgray;
    margin: 0.5em;
    padding: 0.5em;
    min-width: 7.5em;
    width: max-content;
    height: min-content;
}

.currentPlayerEntry {
    background-color: antiquewhite;
}

sup {
    vertical-align: top;
    font-size: 0.7em;
    font-weight: bold
}

#game-state {
    display: block;
    text-align: center;
    flex-grow: 1;
    flex-basis: 30%;
    margin: auto;
    min-width: min(20em, 80vw);
}

#game-control {
    flex-grow: 1;
    flex-basis: 25%;
    text-align: center;
    padding: 0.5em 0;
}

#game-control > button {
    margin: 1em auto;
    display: block;
    width: min(100%, 16em);
    height: 3em;
}

.danger {
    color: maroon;
}

/* * * TABLE SECTION * * */

#table {
    background-color: white;
    border: 1px solid darkgray;
    flex-basis: 45%;
    flex-grow: 1;
    min-width: min(70vw, 500px);
}

#phrase, #phrase-set {
    width: 100%;
    text-align: center;
}

#phrase > h2 {
    display: inline-block;
}

#phrase-set {
    padding: 1em 0;
}

#phrase-set input, #phrase-set button {
    font-size: 1.2em;
}

#phrase-set input {
    width: min(90vw, 60%);
}

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
}

figure {
    padding: 0.5em;
    background-color: black;
    height: min-content;
}

.cardFigureNormal {
    width: 150px;
    max-height: 500px;
    margin: 1.5em auto;
}

.cardFigureNormal > img {
    cursor: pointer; /* zoom-in does not seem to work (?) */
}

.hiddenModal {
    display: none;
}

.shownModal {
    display: block;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal > figure {
    margin: auto;
    border: 1px solid darkgray;
    width: min-content;
    height: min-content;
}

.modal > figure > img {
    margin: auto;
    border: 1px solid darkgray;
    max-width: 75vw;
    max-height: 90vh;
    width: auto;
    height: auto;
}

.modal button {
    text-decoration: underline;
}

.chosenCard {
    border: 0.5em orange solid;
}


img {
    width: 100%;
}

figcaption {
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}

figcaption > button {
    /*width: 2em;*/
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    color: white; /* fallback for browsers showing characters in black-and-white */
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

/* * * PLAYER'S PRIVATE AREA SECTION * * */
#playersPrivateArea {
    flex-basis: 45%;
    flex-grow: 1;
    background-color: antiquewhite;
    border: 1px solid darkgray;
}

#playersPrivateArea > h2 {
    width: 100%;
    text-align: center;
}

/* * * FOOTER * * */

footer {
    margin: 5em 1em 0 1em;
}

hr {
    border-top: none;
    border-bottom: 1px solid darkgray;
}