<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy" th:remove="tag">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/game-scripts/requests.js"></script>
    <script src="/vue.js"></script>
    <script src="/game-scripts/components.js"></script>
    <script src="/game-scripts/pixit.js"></script>
    <script src="/game-scripts/event-dispatch.js"></script>
    <script src="/websocket.js"></script>
</div>
</html>