<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:fragment="copy" th:remove="tag">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script th:if="${lang}" th:src="'/i18n/' + ${lang} + '.js'"></script>
    <script src="/game-scripts/messaging.js"></script>
    <script src="/vue.js"></script>
    <script src="/game-scripts/components.js"></script>
    <script src="/game-scripts/pixit.js"></script>
</div>
</html>