<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <th:block th:insert="fragments/head :: headFragment"></th:block>
    <link rel="stylesheet" href="/game.css">
    <script th:replace="~{|fragments/i18n/${lang}/pixit-js| :: copy}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var gameId = /*[[${gameId}]]*/ 'NO_GAME_ID';
        var userId = /*[[${userId}]]*/ 'NO_USER_ID';
        var sessionId = /*[[${sessionId}]]*/ 'NO_SESSION_ID';
        var playerName = /*[[${playerName}]]*/ 'UNSPECIFIED_PLAYER_NAME';
        var initialGame = /*[[${initialGame}]]*/ { };

        window.history.replaceState({}, "PiXiT Game", "/game/" + gameId);

        /*]]>*/
    </script>
</head>
<body>

<div th:replace="fragments/langSelect :: copy(true)"></div>

<main id="pixit">

</main>

<aside th:replace="~{|fragments/i18n/${lang}/description| :: copy}"></aside>

<footer th:replace="fragments/footer :: copy"></footer>

<script th:inline="javascript">
    let image = /*[[${image}]]*/ {};
</script>
<th:block th:insert="fragments/game-scripts :: copy"></th:block>
</body>
</html>