<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var gameId = /*[[${gameId}]]*/ 'NO_GAME_ID';
        var userId = /*[[${userId}]]*/ 'NO_USER_ID';

        /*]]>*/
    </script>
    <th:block th:insert="fragments/head :: headFragment (pageTitle='PiXiT Game')"></th:block>
</head>
<body>
<header th:replace="fragments/header :: copy"></header>
<main id="pixit">
    <section class="game-info">
        <div>
            <gamestate-info
                    v-bind:game="game"
                    v-bind:player="avatar"
                    v-bind:is-admin="isAdmin"
                    v-bind:is-narrator="isNarrator"
            ></gamestate-info>
            <button @click="executeRequest(requests.startGame)">Start</button>
        </div>
        <div><a href="#">Leave Game</a></div>
    </section>

    <section class="idea">
        <label for="wordInput"><input type="text" name="wordInput" id="wordInput"></label>
        <button @click="executeRequest(requests.setWord)">Set</button>
        <word v-bind:value="game.word.value"></word>
    </section>

    <section class="table">
        <h3>Table</h3>
        <div class="deck">
            <card v-for="(card, index) in table" v-bind:key="index" v-bind:card="card"></card>
        </div>
        <button @click="executeRequest(requests.addCard)">Add Card (defunct for now!)</button><!-- TODO -->
    </section>

    <section>
        <h3 th:text="'Player ' + ${playerName} + '\'s deck'"></h3>

        <div class="deck">
            <card v-for="(card, index) in avatar.deck"
                  v-bind:key="index"
                  v-bind:card="card"
                  v-bind:chosenCardId="ui.chosenCardId">
            </card>
        </div>
    </section>
</main>
<footer th:replace="fragments/footer :: copy"></footer>

<script th:inline="javascript">
    let image = /*[[${image}]]*/ {};
</script>
<th:block th:insert="fragments/game-scripts :: copy"></th:block>
</body>
</html>