<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment (pageTitle='PiXiT Game')"></head>

<body>
<header th:replace="fragments/header :: copy"></header>

<p th:text="'Player: ' + ${playerName}"></p>

<div class="deck">
    <figure th:replace="fragments/figure :: fig (${image})"></figure>
    <figure th:replace="fragments/figure :: fig (${image})"></figure>
    <figure th:replace="fragments/figure :: fig (${image})"></figure>
    <figure th:replace="fragments/figure :: fig (${image})"></figure>
</div>

<footer th:replace="fragments/footer :: copy"></footer>
</body>
</html>