<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: headFragment (pageTitle='PiXiT!')"></head>

<body>
<header th:replace="fragments/header :: copy"></header>


<form action="/start" method="post">
    <label for="playerName">Name: <input type="text" id="playerName" name="playerName"></label>
    <label for="langSelect">Choose language:
        <select id="langSelect" name="langSelect">
            <option value="en" selected>English</option>
            <option value="pl">Polski</option>
        </select>
    </label>
    <button type="submit" value="Submit">Create a game</button>
</form>

<footer th:replace="fragments/footer :: copy"></footer>
</body>
</html>
