<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <th:block th:insert="fragments/head :: headFragment"></th:block>
    <link rel="stylesheet" href="/non-game.css">
</head>

<body>

<div th:replace="fragments/langSelect :: copy(true)"></div>

<header>
<h1><a href="/">P<span style="font-size:1.2em;">i</span>X<span style="font-size:1.2em;">i</span>T!</a></h1>
</header>

<form class="mainForm" action="#" method="post">
    <span class="invitation">
        <th:block th:switch="${#lists.size(playerNames)}">
            <span th:case="1">
                <span th:text="#{player}"></span>
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="${pn}"
                      class="playerName">
                </span>
                <span th:text="#{invites_you_to_the_game}"></span>
            </span>
            <span th:case="2">
                <span th:text="#{players}"></span>
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="!${iterStat.last} ? ${pn} + ' ' + #{shortAnd} + ' ' : ${pn}"
                      class="playerName">
                </span>
                <span th:text="#{invite_you_to_the_game}"></span>
            </span>
            <span th:case="*">
                <span th:text="#{players}"></span>:
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="!${iterStat.last} ? ${pn} + ', ': ' ' + #{longAnd} + ' ' + ${pn}"
                      class="playerName">
                </span>
                <span th:text="#{invite_you_to_the_game}"></span>
            </span>
        </th:block>
    </span>
    <input type="text" id="playerName" name="playerName" th:placeholder="#{yourName}" required>
    <button type="submit" value="Submit" th:text="#{joinGame}"></button>
</form>

<aside th:replace="~{|fragments/i18n/${lang}/description| :: copy}"></aside>

<footer th:replace="fragments/footer :: copy"></footer>

<aside th:replace="fragments/banner :: copy"></aside>

</body>
</html>