<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: headFragment (pageTitle='PiXiT! – Join')"></th:block>
    <link rel="stylesheet" href="/non-game.css">
</head>

<body>
<header>
<h1><a href="/">P<span style="font-size:1.2em;">i</span>X<span style="font-size:1.2em;">i</span>T!</a></h1>
</header>

<form class="mainForm" action="#" method="post">
    <span class="invitation">
        <th:block th:switch="${#lists.size(playerNames)}">
            <span th:case="1">
                Player
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="${pn}"
                      class="playerName">
                </span>
                invites you to the game!
            </span>
            <span th:case="2">
                Players
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="!${iterStat.last} ? ${pn} + ' and ': ${pn}"
                      class="playerName">
                </span>
                invite you to the game!
            </span>
            <span th:case="*">
                Players:
                <span th:each="pn, iterStat : ${playerNames}"
                      th:text="!${iterStat.last} ? ${pn} + ', ': ' and ' + ${pn}"
                      class="playerName">
                </span>
                invite you to the game!
            </span>
        </th:block>
    </span>
    <input type="text" id="playerName" name="playerName" placeholder="Your name">
    <select id="langSelect" name="langSelect">
        <option value="en" selected>🇬🇧</option>
        <option value="pl">🇵🇱</option>
    </select>
    <button type="submit" value="Submit">Join</button>
</form>

<aside th:replace="fragments/description :: copy"></aside>

<footer th:replace="fragments/footer :: copy"></footer>
</body>
</html>